@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-admin {
    background-image: url('./img/seaofcloudsdawn.svg');
    background-size: cover;
}

.bg-public {
    background-image: url('./img/seaofcloudsday.svg');
    background-size: cover;
}

@keyframes flyingAnimation {
    0%   { transform: translate(0.2px, -0.1px); }
    25%  { transform: translate(0.5px, -1px); }
    50%  { transform: translate(0px, 3px); }
    75%  { transform: translate(-2px, 0px); }
    100% { transform: translate(0.5px, -0.5px); }
}

@keyframes cardHoverAnimation {
    0%   { transform: scale(100%); }
    50%  { transform: scale(102%); }
    100% { transform: scale(102%); }
}

@keyframes iconHoverAnimation {
    0%   { transform: rotateZ(0deg); }
    25%  { transform: rotateZ(15deg); }
    50%  { transform: rotateZ(-15deg); }
    75%  { transform: rotateZ(0deg); }
    100% { transform: rotateZ(0deg); }
}

.rocket-animation {
    animation: flyingAnimation 3s ease-in-out infinite;
}

.cardhover-animation {
    transition: transform 0.7s;
}

.cardhover-animation:hover {
    transform: scale(103%);    
}

.iconhover-animation:hover {
    animation: iconHoverAnimation 1s infinite;
}